osws-grid-float ?= left
osws-grid-indent ?= 0
osws-grid-indent ?= 0
osws-grid-parent-first ?= false

grid(ratios = 1, offset = 0, columns = 0, all = 0, indent = osws-grid-indent)
	side = osws-grid-float
	opposite-side = opposite-position(side)
	column-widths = osws-grid-get-column(ratios, indent)
	margin-last = 0
	margin-l = margin-last
	margin-r = column-widths[1]
	
	unless offset == 0
		if offset < 0
			offset *= -1
			offset = osws-grid-get-column(offset, column-widths[1])[0]
			margin-r = margin-last = offset + column-widths[1] * 2
		else
			offset = osws-grid-get-column(offset, column-widths[1])[0]
			margin-l = offset + column-widths[1]

	fix-float()
	float: side
	clear: none
	width: (column-widths[0])%
	margin-{side}: (margin-l)%
	margin-{opposite-side}: (margin-r)%

	if all != 0
		&:nth-of-type({all}n)
			margin-{opposite-side}: (margin-r)%
			float: side
		&:nth-of-type({all}n+1)
			clear: none

	if columns != 0
		&:nth-of-type({columns}n)
			margin-{opposite-side}: (margin-last)%
			float: opposite-side
		&:nth-of-type({columns}n+1)
			clear: both
	 else
		&:last-child
			margin-{opposite-side}: (margin-last)%

osws-grid-get-column(ratios = 1, indent = osws-grid-indent)
	ratios = reverse-list(ratios) unless osws-grid-parent-first is true
	width = 100

	for ratio in ratios
		indent = indent / width * 100
		width = 100 * ratio - indent + ratio * indent

	return width indent