osws-grid-float ?= left
osws-grid-indent ?= 0
osws-grid-indent ?= 0
osws-grid-parent-first ?= false

grid(_ratios = 1, _offset = 0, _inline = 0, _outline = 0, _indent = osws-grid-indent)
	side = osws-grid-float
	opposite-side = opposite-position(side)
	column-widths = osws-grid-get-column(_ratios, _indent)
	margin-last = 0
	margin-l = margin-last
	margin-r = column-widths[1]
	
	unless _offset == 0
		if _offset < 0
			_offset *= -1
			_offset = osws-grid-get-column(_offset, column-widths[1])[0]
			margin-r = margin-last = _offset + column-widths[1] * 2
		else
			_offset = osws-grid-get-column(_offset, column-widths[1])[0]
			margin-l = _offset + column-widths[1]

	fix-float()
	float: side
	clear: none
	width: (column-widths[0])%
	margin-{side}: (margin-l)%
	margin-{opposite-side}: (margin-r)%

	if _outline != 0
		&:nth-of-type({_outline}n)
			margin-{opposite-side}: (margin-r)%
			float: side
		&:nth-of-type({_outline}n+1)
			clear: none

	if _inline != 0
		&:nth-of-type({_inline}n)
			margin-{opposite-side}: (margin-last)%
			float: opposite-side
		&:nth-of-type({_inline}n+1)
			clear: both
	 else
		&:last-child
			margin-{opposite-side}: (margin-last)%

osws-grid-get-column(_ratios = 1, indent = osws-grid-indent)
	_ratios = reverse-list(_ratios) unless osws-grid-parent-first is true
	width = 100

	for ratio in _ratios
		indent = indent / width * 100
		width = 100 * ratio - indent + ratio * indent

	return width indent