animation()
	osws-options--generate('animation', arguments)

animation-name()
	osws-options--generate('animation-name', arguments)

animation-duration()
	osws-options--generate('animation-duration', arguments)

animation-delay()
	osws-options--generate('animation-delay', arguments)

animation-direction()
	osws-options--generate('animation-direction', arguments)

animation-iteration-count()
	osws-options--generate('animation-iteration-count', arguments)

animation-timing-function()
	osws-options--generate('animation-timing-function', arguments)

animation-play-state()
	osws-options--generate('animation-play-state', arguments)

animation-fill-mode()
	osws-options--generate('animation-fill-mode', arguments)