box-shadow()
	osws-options--generate('box-shadow', arguments, only: webkit moz official)
	
box-sizing()
	osws-options--generate('box-sizing', arguments, only: webkit moz official)
	
box-orient()
	osws-options--generate('box-orient', arguments, only: webkit moz official)
	
box-flex-group()
	osws-options--generate('box-flex-group', arguments, only: webkit moz official)
	
box-ordinal-group()
	osws-options--generate('box-ordinal-group', arguments, only: webkit moz ms official)
	
box-align()
	osws-options--generate('box-align', arguments, only: webkit moz ms official)
	
box-pack()
	osws-options--generate('box-pack', arguments, only: webkit moz ms official)
	
box-direction()
	osws-options--generate('box-direction', arguments, only: webkit moz ms official)