column-count()
	osws-options--generate('column-count', arguments, only: webkit moz official)

column-gap()
	osws-options--generate('column-gap', arguments, only: webkit moz official)

column-rule()
	osws-options--generate('column-rule', arguments, only: webkit moz official)

column-rule-color()
	osws-options--generate('column-rule-color', arguments, only: webkit moz official)

column-rule-width()
	osws-options--generate('column-rule-width', arguments, only: webkit moz official)

column-rule-style()
	osws-options--generate('column-rule-style', arguments, only: webkit moz official)

column-width()
	osws-options--generate('column-width', arguments, only: webkit moz official)

column-span()
	osws-options--generate('column-span', arguments, only: webkit official)

column-fill()
	osws-options--generate('column-fill', arguments, only: moz)