// position

// ^[(z-index) unit]{1}
// [(position) static/absolute/fixed/relative/inherit]{1}
// [(direction) top/right/bottom/left unit]{1,4}

position()
	result = {}
	key = null
	important = ()
	for argument, a in arguments
		key = arguments[a - 1] if a > 0
		if argument is !important
			important = !important
		else if argument in (static absolute fixed relative)
			result['position'] = argument
		else if argument in (top right bottom left)
			result['' + argument] = 0
		else if argument is a 'unit' or argument is inherit
			if key in (top right bottom left position z-index)
				if key is position
					result['position'] = argument
				else if key is z-index
					result['z-index'] = argument
				else
					result[''+key] = argument
			else
				if argument is inherit
					result['position'] = argument
				else
					result['z-index'] = argument
	for key, value in result
		{key}: value important

// static/absolute/fixed/relative

// ^[(z-index) unit]{1}
// [(direction) top/right/bottom/left unit]{1,4}

static()
	push(arguments, static)
	position arguments
absolute()
	push(arguments, absolute)
	position arguments
fixed()
	push(arguments, fixed)
	position arguments
relative()
	push(arguments, relative)
	position arguments