text-overflow()
	osws-options--generate('text-overflow', arguments, only: official o)
text-size-adjust()
	osws-options--generate('text-size-adjust', arguments, only: official webkit ms)
tab-size()
	osws-options--generate('tab-size', arguments, only: moz o official)
text-size-adjust()
	osws-options--generate('text-size-adjust', arguments)