transform()
	osws-options--generate('transform', arguments)

transform-origin()
	osws-options--generate('transform-origin', arguments)

transform-style()
	osws-options--generate('transform-style', arguments)