transition()
	osws-options--generate('transition', arguments)

transition-property()
	osws-options--generate('transition-property', arguments)

transition-duration()
	osws-options--generate('transition-duration', arguments)

transition-timing-function()
	osws-options--generate('transition-timing-function', arguments)

transition-delay()
	osws-options--generate('transition-delay', arguments)